{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Medicine Database</h1>
    <a href="{% url 'medicine_create' %}">Add New Medicine</a>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for medicine in medicines %}
            <tr>
                <td>{{ medicine.name }}</td>
                <td>{{ medicine.description|truncatewords:20 }}</td>
                <td>
                    <a href="{% url 'medicine_detail' medicine.pk %}">View</a>
                    <a href="{% url 'medicine_update' medicine.pk %}">Edit</a>
                    <a href="{% url 'medicine_delete' medicine.pk %}">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No medicines in database.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 