{% extends 'base.html' %}

{% block content %}
<div>
    <div>
        <h1>{% if form.instance.pk %}Edit{% else %}New{% endif %} Patient</h1>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field.errors }}
                    {{ field }}
                    {% if field.help_text %}
                        <div>{{ field.help_text }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <div>
                <button type="submit">Save Patient</button>
                <a href="{% url 'patient_list' %}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %} 