{% extends 'base.html' %}

{% block content %}
<div>
    <div>
        <h1>{{ medicine.name }}</h1>
        <div>
            <dl>
                <dt>Description</dt>
                <dd>{{ medicine.description }}</dd>
                
                <dt>Dosage Instructions</dt>
                <dd>{{ medicine.dosage_instructions }}</dd>
                
                <dt>Added On</dt>
                <dd>{{ medicine.created_at }}</dd>
                
                <dt>Last Updated</dt>
                <dd>{{ medicine.updated_at }}</dd>
            </dl>
        </div>
    </div>
    
    <div>
        <div>
            <h2>Actions</h2>
            <div>
                <a href="{% url 'medicine_update' medicine.pk %}">Edit Medicine</a>
                <a href="{% url 'medicine_delete' medicine.pk %}">Delete Medicine</a>
                <a href="{% url 'medicine_list' %}">Back to List</a>
            </div>
        </div>
    </div>
</div>
{% endblock %} 