{% extends 'base.html' %}

{% block content %}
<div>
    <div>
        <h1>Delete Appointment</h1>
        <p>Are you sure you want to delete the appointment for {{ appointment.patient.first_name }} {{ appointment.patient.last_name }} on {{ appointment.date }} at {{ appointment.time }}?</p>
        <form method="post">
            {% csrf_token %}
            <div>
                <button type="submit">Confirm Delete</button>
                <a href="{% url 'appointment_detail' appointment.pk %}">Cancel</a>
            </div>
        </form>
    </div>
</div>
{% endblock %} 